name: Update Rulesets
on:
  workflow_dispatch:
    inputs:
      ruleset_path:
        description: 'FOR TESTING - Path to the ruleset directory'
        required: true
        type: string
        default: "/example-rulesets/repository/protect-default.json"
  push:
    branches:
      - main
    paths:
      - 'example-rulesets/**'
jobs:
  update-ruleset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Update rulesets
        uses: actions/github-script@v8
        with:
          script: |
            const path = require('path');
            let file_path = "";

            if (process.env.EVENT_NAME == "push"){
                file_path = "TODO";
            } else {  // REMOVE
                file_path = '${{ github.event.inputs.ruleset_path }}';
            }

            file_path = path.join(process.env.GITHUB_ACTION_PATH, file_path)
            
            console.log("file_path=${file_path}");
