name: Update Rulesets
on:
  workflow_dispatch:
    inputs:
      ruleset_path:
        description: 'FOR TESTING - Path to the ruleset directory'
        required: true
        type: string
        default: "/example-rulesets/repository/protect-default.json"
  push:
    branches:
      - main
    paths:
      - 'example-rulesets/**'
jobs:
  update-ruleset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Update rulesets
        uses: actions/github-script@v8
        with:
          script: |
            let ruleset_relative_file_path = "";

            if (process.env.EVENT_NAME == "push"){
                // TODO: need to add an action before this one to find the path(s) of all changed file(s)
                ruleset_relative_file_path = "TODO";
            } else {  // REMOVE
                ruleset_relative_file_path = '${{ inputs.ruleset_path }}';
            }

            const ruleset_content_raw = await github.rest.repos.getContent({
              owner: '${{ github.repository_owner}}',
              repo: '${{ github.repository }}'.split("/")[1],
              path: '.github/example-rulesets/repository/protect-default.json',
              ref: '${{ github.ref_name }}'
            });

            const ruleset_content = Buffer.from(ruleset_content_raw.data.content, 'base64').toString('utf8');
            
            console.log("file_path=$ruleset_relative_file_path");
            console.log("ref_name=${{ github.ref_name }}");
            console.log("ruleset_content=$ruleset_content");
