name: Update Rulesets
on:
  workflow_dispatch:
    inputs:
      ruleset_paths:
        description: 'A comma-separated list of paths to ruleset files to update. ex: /path/to/ruleset1.json,/path/to/ruleset2.json'
        required: true
        type: string
        default: "/example-rulesets/repository/protect-default.json"  # TODO: remove
  push:
    # branches:
    #   - main
    paths:
      - '.github/example-rulesets/**'
      - '.github/workflows/**'
jobs:
  update-ruleset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Discover Changed Rulesets
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            UPDATED_FILES=$(git diff --name-only --diff-filter=M ${{ github.event.before }} ${{ github.sha }})
            UPDATED_FILES=$(echo $UPDATED_FILES  | tr '\n' ',' | sed 's/,$//')  # the list of files is newline-seperated, convert to comma-separated
          elif [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            UPDATED_FILES="${{ github.event.inputs.ruleset_paths }}"
          else
            echo "::warning:: Unsupported event type: ${{ github.event_name }}"
            UPDATED_FILES=""
          fi
          echo "::group:debug echos"
          echo "updated_files=${UPDATED_FILES}"
          echo "updated_files=${UPDATED_FILES}" >> $GITHUB_OUTPUT
          echo "::endgroup::"
      - name: Update rulesets
        uses: actions/github-script@v8
        with:
          script: |
            let ruleset_relative_file_path = "";

            if (process.env.EVENT_NAME == "push"){
                // TODO: need to add an action before this one to find the path(s) of all changed file(s)
                ruleset_relative_file_path = "TODO";
            } else {  // REMOVE
                ruleset_relative_file_path = '${{ inputs.ruleset_paths }}';
            }

            const ruleset_content_raw = await github.rest.repos.getContent({
              owner: '${{ github.repository_owner}}',
              repo: '${{ github.repository }}'.split("/")[1],
              path: '.github/example-rulesets/repository/protect-default.json',
              ref: '${{ github.ref_name }}'
            });

            const ruleset_content = Buffer.from(ruleset_content_raw.data.content, 'base64').toString('utf8');
            
            console.log('file_path='+${ruleset_relative_file_path});
            console.log("ref_name=${{ github.ref_name }}");
            console.log(`"ruleset_content=${ruleset_content}"`);
